#logo { margin-top: 22px; }

.nav-bar {
	white-space: pre;
}

a.username span {
	text-overflow: ellipsis;
	max-width: 12em;
	overflow: hidden;
	white-space: pre;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 1em;
	margin-bottom: 0.75em;
}
dl {
	margin-bottom: 0.75em;
}

/* Form field */
ol.field-array { list-style-position: outside; padding-left: 3em; }
ol.field-array > li > input { display:inline; }
input.field-password-a, input.field-password-b { display:inline; width:auto; margin-right: 0.8em; }
input.field-password-a + small, input.field-password-b + small { font-size: 75%; }

/* CodeMirror editor */
.CodeMirror {
	border: 1px solid #ccc;
	height: auto;
}
.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

pre {
	border: solid 0.1em #CCC;
	padding: 0.4em;
	background-color: #F4F4F4;
}

/* Stuff */

ul, ol { list-style-position: inherit; padding-left: 2em; }
h1 { font-size: 195%; }
h2 { font-size: 150%; }
h3 { font-size: 115%; }
h4 { font-size: 100%; }

h1 span.secnum, h2 span.secnum, h3 span.secnum, h4 span.secnum {
	width: 6em;
	margin-left: -6.8em;
	text-align: right;
	float: left;
}

sup, sub {
	font-size: smaller;
	vertical-align: baseline;  /* Make sup and sub not affect line height. */
	position: relative;
}

pre {
	margin-left: 2em;
	font-size: 95%;
}

/* Table of contents */
.toc span.secnum a:link, .toc span.secnum a:visited { color:#5555bb; }
ol.toc { padding-left: 0; }
ol.toc > li { list-style-type: none; padding-left: 1em; text-indent: -1em;}
ol.toc > li span.secnum {
	float: none;
}

/* Notes */
div.note {
	margin: 1em 0 1em 4em;
}
span.nh {
	float: left;
	width: 4em;
	margin-left: -4em;
}

/* Grammar */
div.gp { margin-left: 2.4em; margin-bottom: 0.9em; }
div.rhs { margin-left: 2.4em; }  /* right-hand side */

code { /* including code.t, meaning "terminal" or "token" */
	font-weight: bold;
	color: #555;
	background-color: #F4F4F4;
}
span.nt {  /* nonterminal */
	font-family: Times New Roman, Times, FreeSerif, serif;
	font-style: italic;
}
span.geq { font-weight: bold; }  /* grammar equal-sign, like "::" */
span.grhsmod {  /* right-hand side modifier, like "one of", "but not" */
	font-weight: bold;
	color: #555;
}
span.gprose {
	font-family: Helvetica, Arial, Liberation Sans, sans-serif;
}

span.prod { margin-left: 5pt; margin-right: 5pt; }
